.hamburguer {
  width: var(--hamb-width);
  height: var(--hamb-width);

  background-color: var(--color-600);
  /* background-image: var(--hamb-closed-img); */
  background-image: url('../assets/hamburguer.png');
  background-repeat: no-repeat;
  background-position: center;

  user-select: none;
  -webkit-user-drag: none;

  cursor: pointer;
  margin-right: 24px;
}

@media(max-width: 468px) {
  :root {
    --hamb-open-img: var(--hamb-mobile-open-img);
    --hamb-closed-img: var(--hamb-mobile-closed-img);
    --hamb-width: 52px;
  }
}

@media(min-width: 768px) {
  .hamburguer:active {
    background-color: var(--color-orange);
  }
}
