.btn:hover #btnDelete,
.btn:active #btnDelete {
  cursor: pointer;
  fill: var(--color-orange);
}

.btn {
  cursor: pointer;
}

.header {
  flex: 1;
  display: flex;
  align-items: center;  

  padding-right: 16px;

  background-color: var(--color-700);

  color: var(--color-100);
}

.header-document-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-markdown {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 24px 10px 0;
  margin-right: 24px;
  border-right: 1px solid var(--color-600);
}

.header-document, .sidebar-document {
  display: flex;
  align-items: center;
  gap: 16px;
}

.document-label, .sidebar-document-date{
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--color-500);
}

.document-name {
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .header-markdown {
    display: none;
  }
}

@media(max-width: 468px) {
  .document-label {
    display: none;
  }
  .header{
    padding-right: 8px;
  }
}